<div class="jumbotron">
  <h1>G-bucks</h1>
  <p class="introduction">私たち1年G組はジュースとゼリーを組み合わせた新感覚スイーツを提供致します。3階305号室で営業しております。
    ゼリーとジュースの組み合わせはお選びいただけ、できるゼリージュースの種類は無限大です。是非一度お試し下さい。</p>
  <p><%=link_to"メニューを見る",drinks_path,class:"btn btn-info"%></p>
</div>

<%=image_tag("24409.jpg",:width=>"100%",:height=>"100%")%>